<link rel="stylesheet" href="style.css">
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<section class="service">
    <div class="container">
        <h3>SERVICE</h3>
        <div class="box">
            <div class="col-4">
                <div class="icon"><i class="fa-brands fa-youtube"></i></i></>
                </div>
                <h4>Youtube</h4>
            </div>
            <div class="col-4">
                <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                <h4>WhatsApp</h4>
            </div>
            <div class="col-4">
                <div class="icon"><i class="fa-brands fa-twitter"></i></i></i></div>
                <h4>Twitter</h4>
            </div>
            <div class="col-4">
                <div class="icon"><i class="fa-brands fa-instagram"></i></i></div>
                <h4>Instagram</h4>
            </div>
        </div>
    </div>
</section>

    <div class="conten" > 
        <hr> 
        <small>Copyright &copy; 2022 - Mr.Cubhan All Right reserves.</small>
    </div>
</footer>

