<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HansMobil</title>
</head>
<body>
    <div class="fContainer">
        <nav class="wrapper-nav">
            <div class="brand">
                <div class="firstnamne">Hans</div>
                <div class="lastname">Mobil</div>
            </div>
            <ul class="navigation">
                <li><a href="home.php">home</a></li>
                <li><a href="produk.php">produk</a></li>
                <li><a href="login.php">login</a></li>
                <li><a href="keranjang.php">keranjang</a></li>
                <li><a href="checkout.php">checkout</a></li>
            </ul>
        </nav>
    </div>
    
</body>
</html>

